html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    width: 100%;
}
#viewDiv {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/*标题栏*/
.header {
    width: 900px;
    height: 150px;
    color: white;
    background: url("last.png") no-repeat;
    background-size: 80%;
    font-size: 1.6em;
    border-radius:10px;
    text-align: center;
    line-height: 70px;
    position: fixed;
    top:5px;
    left: 5px;
    z-index: 2;
    /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);*/
}
.gisFunc {
    width: 150px;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 250px;
    left: 10px;
    margin-top: 0;
    z-index: 3;
    border-radius:10px;
    color: #151719;
    font-size: 1.2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.04);
    /*border: black solid 0.1px;*/
    list-style: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
    cursor: pointer;

    display: none;

}
.icons {
    position: relative;
    top: 7px;
}
#switch {
    position: fixed;
    top: 200px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-image: url("apply.png");
    background-size: 50px 50px;
    z-index: 3;
}
.gis {
    padding: 3px 0 10px 0;

}
.gis:hover {
    background: rgba(118, 114, 118, 0.53);
}
.analyse {
    list-style: none;
}
.tools {
    display: none;
    color: rgba(11, 25, 37, 0.87);
    font-size: 0.8em;
    list-style: none;
    background: rgba(166, 172, 178, 0.38);
    padding-left: 35px;
    padding-bottom: 5px;
    text-align: left;
}
.analyse {
    padding:5px 0 0 0;
}

a {
    text-decoration:none;
}
a:link {
    color: rgba(11, 25, 37, 0.87);
}
a:visited {
    color: rgba(11, 25, 37, 0.87);
}
/*.esri-feature__media-container {*/
    /*flex-flow: row nowrap;*/
    /*align-items: stretch;*/
    /*justify-content: center;*/
    /*width: 220px;*/
    /*min-height: 110px;*/
    /*margin-top: 6px;*/
/*}*/
.esri-layer-list {
    color: #323232;
    background-color: #f5f5f5;
    padding: 6px 7px;
    position: fixed;
    top: 18px;
    right: 76px;
    display: none;
}
.esri-print {
    position: fixed;
    top: 220px;
    right: 76px;
    display: none;
}


/*.esri-basemap-gallery*/

/*添加详情*/
/*.esri-feature__content-element {*/
    /*padding: 0px 7px 24px;*/
/*}*/
